In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(
            {"a" : [4 ,5, 6],
            "b" : [7, 8, 9],
            "c" : [10, 11, 12]},
                index = [1, 2, 3])
# 열의 변수명을 dict 형태로 지정

In [4]:
df # df의 전체 범위 출력

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [5]:
df["c"] # 열값 구하기

1    10
2    11
3    12
Name: c, dtype: int64

In [6]:
df[["a","b"]]

   a  b
1  4  7
2  5  8
3  6  9

In [7]:
df.loc[3] # 행값 구하기

a     6
b     9
c    12
Name: 3, dtype: int64

In [8]:
df.loc[3,"a"] #특정행열값 구하기

6

In [9]:
df.loc[[1,2],["a","b"]]

   a  b
1  4  7
2  5  8

In [10]:
df = pd.DataFrame(
    [[4, 7, 10],
     [5, 8, 11],
     [6, 9, 12]],
    index=[1, 2, 3],
    columns=['a', 'b', 'c'])
# 열의 변수명을 columns=으로 지정
# 동시에 리스트로 데이터값 지정할 때 데이터 형태 그대로 작성
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [3]:
import numpy as np
df = pd.DataFrame(
        {"a":[4,5,6,6,np.nan],
        "b":[7,8,np.nan,9,9],
        "c":[10,11,12,np.nan,12]},
        index = pd.MultiIndex.from_tuples(
        [('d',1),('d',2),('e',2),('e',3),('e',4)],
        names=['n','v']))
df

       a    b     c
n v
d 1  4.0  7.0  10.0
  2  5.0  8.0  11.0
e 2  6.0  NaN  12.0
  3  6.0  9.0   NaN
  4  NaN  9.0  12.0