In [25]:
import pandas as pd
import seaborn as sns
import numpy as np

In [5]:
df = sns.load_dataset('iris')
df.shape

(150, 5)

In [6]:
df.head(2)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa

In [7]:
# value_counts : 각각의 값을 그룹화해서 갯수를 세어준다.
df['species'].value_counts()

versicolor    50
setosa        50
virginica     50
Name: species, dtype: int64

In [8]:
df['petal_width'].value_counts()

0.2    29
1.3    13
1.5    12
1.8    12
1.4     8
2.3     8
1.0     7
0.3     7
0.4     7
2.0     6
2.1     6
0.1     5
1.2     5
1.9     5
1.6     4
2.5     3
2.2     3
2.4     3
1.1     3
1.7     2
0.6     1
0.5     1
Name: petal_width, dtype: int64

In [9]:
pd.DataFrame(df['species'].value_counts())

            species
versicolor       50
setosa           50
virginica        50

In [10]:
# len : 해당 데이터의 행의 갯수를 세어준다.
len(df)

150

In [14]:
# shape : 행과 열의 갯수를 세어준다.
df.shape

(150, 5)

In [15]:
df.shape[0]

150

In [17]:
len(df) == df.shape[0]

True

In [19]:
# nunique() : 특정한 값의 갯수를 세어준다.
df['species'].nunique()

3

In [21]:
# describe() : 기본 통계량이 정리된 표를 나타내준다.
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [26]:
df.describe(include=[np.object])

           species
count          150
unique           3
top     versicolor
freq            50

In [27]:
df.describe(include=[np.number])

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

```
sum()
Sum values of each object.
count()
Count non-NA/null values of
each object.
median()
Median value of each object.
quantile([0.25,0.75])
Quantiles of each object.
apply(function)
Apply function to each object.
min()
Minimum value in each object.
max()
Maximum value in each object.
mean()
Mean value of each object.
var()
Variance of each object.
std()
Standard deviation of each
object.
```

In [29]:
df['petal_width'].sum()

179.90000000000003

In [30]:
df['petal_width'].count()

150

In [31]:
df['petal_width'].median()

1.3

In [32]:
df['petal_width'].mean()

1.199333333333334

In [34]:
df['petal_width'].quantile([0.25,0.75])

0.25    0.3
0.75    1.8
Name: petal_width, dtype: float64

In [35]:
df.min()

sepal_length       4.3
sepal_width          2
petal_length         1
petal_width        0.1
species         setosa
dtype: object

In [36]:
df.max()

sepal_length          7.9
sepal_width           4.4
petal_length          6.9
petal_width           2.5
species         virginica
dtype: object

In [37]:
df.var()

sepal_length    0.685694
sepal_width     0.189979
petal_length    3.116278
petal_width     0.581006
dtype: float64

In [38]:
df.std()

sepal_length    0.828066
sepal_width     0.435866
petal_length    1.765298
petal_width     0.762238
dtype: float64

## apply(function) 함수
데이터 전처리할 때 많이 사용되는 함수
1. (밑에와 같이) lambda라는 익명의 함수를 사용해서 뒤쪽에 추출하고 싶은 데이터 내용에 해당하는 조건을 걸어서 apply 함수를 사용할 수 있다.
* 추출하고 싶은 데이터 내용이 담겨있는 열이 추가된다.
2. (그 밑에와 같이) def를 사용해서 함수를 먼저 정의하여 생성해준 뒤, apply(생성한 함수)를 써서 사용할 수 있다.
* 생성한 함수가 정의되어진 내용을 토대로 데이터를 추출하여 새로운 열이 추가된다.

In [46]:
df['species_3'] = df['species'].apply(lambda x : x[:3])

In [47]:
df

     sepal_length  sepal_width  petal_length  petal_width    species species_3
0             5.1          3.5           1.4          0.2     setosa       set
1             4.9          3.0           1.4          0.2     setosa       set
2             4.7          3.2           1.3          0.2     setosa       set
3             4.6          3.1           1.5          0.2     setosa       set
4             5.0          3.6           1.4          0.2     setosa       set
..            ...          ...           ...          ...        ...       ...
145           6.7          3.0           5.2          2.3  virginica       vir
146           6.3          2.5           5.0          1.9  virginica       vir
147           6.5          3.0           5.2          2.0  virginica       vir
148           6.2          3.4           5.4          2.3  virginica       vir
149           5.9          3.0           5.1          1.8  virginica       vir

[150 rows x 6 columns]

In [48]:
def smp(x):
    # 뒤에서 3번째까지의 문자를 가져오는 함수 (smp는 임의의 함수이름)
    x = x[-3:]
    return x

In [49]:
df['species-3']=df['species'].apply(smp)

In [50]:
df

,sepal_length,sepal_width,petal_length,petal_width,species,species_3,species-3
0,5.1,3.5,1.4,0.2,setosa,set,osa
1,4.9,3.0,1.4,0.2,setosa,set,osa
2,4.7,3.2,1.3,0.2,setosa,set,osa
3,4.6,3.1,1.5,0.2,setosa,set,osa
4,5.0,3.6,1.4,0.2,setosa,set,osa
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,vir,ica
146,6.3,2.5,5.0,1.9,virginica,vir,ica
147,6.5,3.0,5.2,2.0,virginica,vir,ica
148,6.2,3.4,5.4,2.3,virginica,vir,ica
149,5.9,3.0,5.1,1.8,virginica,vir,ica