In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.DataFrame({'A':range(1,11),
                 'B':np.random.randn(10)})
df

    A         B
0   1  0.436052
1   2 -0.038216
2   3  2.264077
3   4  1.382013
4   5  0.873845
5   6  1.127808
6   7  1.347652
7   8 -0.641765
8   9  1.324345
9  10 -0.137902

In [12]:
df.assign(ln_A = lambda x : np.log(x.A)).head()

   A         B      ln_A
0  1  0.553338  0.000000
1  2 -0.855650  0.693147
2  3 -0.659740  1.098612
3  4  0.232103  1.386294
4  5  1.445877  1.609438

In [19]:
df["ln_A"] = np.log(df.A)
df

    A         B      ln_A
0   1  0.553338  0.000000
1   2 -0.855650  0.693147
2   3 -0.659740  1.098612
3   4  0.232103  1.386294
4   5  1.445877  1.609438
5   6  0.709788  1.791759
6   7  0.853442  1.945910
7   8  0.465849  2.079442
8   9 -0.572327  2.197225
9  10 -0.234141  2.302585

In [20]:
df.ln_A = np.log(df.A)
df

    A         B      ln_A
0   1  0.553338  0.000000
1   2 -0.855650  0.693147
2   3 -0.659740  1.098612
3   4  0.232103  1.386294
4   5  1.445877  1.609438
5   6  0.709788  1.791759
6   7  0.853442  1.945910
7   8  0.465849  2.079442
8   9 -0.572327  2.197225
9  10 -0.234141  2.302585

### 숫자형 데이터를 카테고리로 분류할 때
## qcut을 사용한다.

In [23]:
pd.qcut(df.A, 3, labels=["good","medium","bad"])

0      good
1      good
2      good
3      good
4    medium
5    medium
6    medium
7       bad
8       bad
9       bad
Name: A, dtype: category
Categories (3, object): [good < medium < bad]

In [24]:
pd.qcut(df.B, 3, labels=["good","medium","bad"])

0    medium
1      good
2      good
3    medium
4       bad
5       bad
6       bad
7    medium
8      good
9      good
Name: B, dtype: category
Categories (3, object): [good < medium < bad]

In [26]:
pd.qcut(df.B, 2, labels=["good","bad"])

0     bad
1    good
2    good
3    good
4     bad
5     bad
6     bad
7     bad
8    good
9    good
Name: B, dtype: category
Categories (2, object): [good < bad]

In [28]:
# 열에서 가장 큰 값
df.max(axis=1)

0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     6.0
6     7.0
7     8.0
8     9.0
9    10.0
dtype: float64

In [29]:
# 행에서 가장 큰 값
df.max(axis=0)

A       10.000000
B        1.445877
ln_A     2.302585
dtype: float64

In [30]:
# 열에서 가장 작은 값
df.min(axis=1)

0    0.000000
1   -0.855650
2   -0.659740
3    0.232103
4    1.445877
5    0.709788
6    0.853442
7    0.465849
8   -0.572327
9   -0.234141
dtype: float64

In [31]:
# 행에서 가장 작은 값
df.min(axis=0)

A       1.00000
B      -0.85565
ln_A    0.00000
dtype: float64

In [40]:
# clip : 임계치를 지정해서 값을 변형시켜줌
df["A"].clip(lower=2,upper=6)

0    2
1    2
2    3
3    4
4    5
5    6
6    6
7    6
8    6
9    6
Name: A, dtype: int64

In [43]:
df["B"].clip(lower=1,upper=5)

0    1.000000
1    1.000000
2    1.000000
3    1.000000
4    1.445877
5    1.000000
6    1.000000
7    1.000000
8    1.000000
9    1.000000
Name: B, dtype: float64

In [44]:
# abs : 절댓값 씌우기
df["B"].abs()

0    0.553338
1    0.855650
2    0.659740
3    0.232103
4    1.445877
5    0.709788
6    0.853442
7    0.465849
8    0.572327
9    0.234141
Name: B, dtype: float64

In [45]:
df["B"]

0    0.553338
1   -0.855650
2   -0.659740
3    0.232103
4    1.445877
5    0.709788
6    0.853442
7    0.465849
8   -0.572327
9   -0.234141
Name: B, dtype: float64