### 세로로 칼럼 (옆으로) 합치기

In [2]:
import pandas as pd

In [5]:
adf = pd.DataFrame({"x1":["A","B","C"],"x2":[1,2,3]})
adf

  x1  x2
0  A   1
1  B   2
2  C   3

In [7]:
bdf = pd.DataFrame({"x1":["A","B","D"],"x3":["T","F","T"]})
bdf

  x1 x3
0  A  T
1  B  F
2  D  T

In [8]:
# 세로(열) 병합하기
# how= left or right 의 기준에 따라 가져오는 값의 기준이 달라진다.
pd.merge(adf,bdf,how='left',on='x1')

  x1  x2   x3
0  A   1    T
1  B   2    F
2  C   3  NaN

In [9]:
pd.merge(adf,bdf,how='right',on='x1')

  x1   x2 x3
0  A  1.0  T
1  B  2.0  F
2  D  NaN  T

In [12]:
pd.merge(adf,bdf,how='inner',on='x1')

  x1  x2 x3
0  A   1  T
1  B   2  F

In [13]:
pd.merge(adf,bdf,how='outer',on='x1')

  x1   x2   x3
0  A  1.0    T
1  B  2.0    F
2  C  3.0  NaN
3  D  NaN    T

In [16]:
bdf.x1

0    A
1    B
2    D
Name: x1, dtype: object

In [17]:
adf.x1.isin(bdf.x1)

0     True
1     True
2    False
Name: x1, dtype: bool

In [18]:
adf[adf.x1.isin(bdf.x1)]

  x1  x2
0  A   1
1  B   2

In [19]:
# ~ : 제외하라는 뜻이다.
adf[~adf.x1.isin(bdf.x1)]

  x1  x2
2  C   3

In [20]:
ydf = pd.DataFrame({"x1":["A","B","C"],"x2":[1,2,3]})
ydf

  x1  x2
0  A   1
1  B   2
2  C   3

In [21]:
zdf = pd.DataFrame({"x1":["B","C","D"],"x2":[2,3,4]})
zdf

  x1  x2
0  B   2
1  C   3
2  D   4

In [22]:
pd.merge(ydf, zdf) # 기본값이 inner join 이라 공통된 값만 가져온다.

  x1  x2
0  B   2
1  C   3

In [23]:
pd.merge(ydf, zdf, how='outer')

  x1  x2
0  A   1
1  B   2
2  C   3
3  D   4

In [25]:
# indicator=True : merge를 어떻게 했는지 나타내준다.
pd.merge(ydf, zdf, how='outer', indicator=True)

  x1  x2      _merge
0  A   1   left_only
1  B   2        both
2  C   3        both
3  D   4  right_only

In [30]:
pd.merge(ydf, zdf, how='outer', indicator=True).query(
    '_merge == "left_only"').drop(columns=['_merge'])
# query : 조건을 주어 해당되는 값만 추출할 수 있다.
# drop : 삭제

  x1  x2
0  A   1